{% extends 'base.html' %}
{% block title %}Lanzhou housing price data display--chart{% endblock %}
{% block main %}
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Lanzhou housing price data display--chart</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{{ url_for('index') }}">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Lanzhou housing price data display--chart</li>
                </ol>
            </div>
        </div>
         <div class="row">
            <div class="col-md-12">
                <div class="card card-box">
                    <div class="card-head">
                        <header>Chart display</header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div style="width:100%;height: 600px" id="chartmain_map"></div>
                        <div style="width:100%;height: 300px; margin-top: 20px" id="chartmain_bar"></div>
                        <div style="width:100%;height: 300px; margin-top: 20px" id="chartmain_scatter2"></div>
                        <div style="width:100%;height: 300px; margin-top: 20px" id="chartmain_line2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- end page content -->
{% endblock %}